{% load static %}
{% load humanize %}
<!-- Comment 1 start -->
  <div class="comment-thread" id="post-comment-thread">
    <!-- Comment 1 start -->
    {% for comment in comments %}
    <div class="comment comment-list-{{ comment.id }}" id="comment-{{ comment.id }}">
      <div class="comment-container" style="margin-bottom: 8px;">
        <div class="comment-heading">
          <div class="comment-head-left">
            <div class="avatar-image-container">
              <a href="#">
                {% if comment.author.pro_image %}
                  <img src="{{ comment.author.pro_image.url }}" style="width:64px;min-height:64px;">
                {% else %}
                  <img src="{% static 'images/default.jpg' %}">
                {% endif %}
              </a>
            </div>
            <div class="comment-info">
              <a class="comment-author" href="#">{{ comment.author.username }}</a>
              <p class="m-0"><span class="comment-like-count">{{ comment.likes.count }}</span> likes &bull; {{ comment.created_at| naturaltime }}</p>
            </div>
          </div>
          <div class="modal_more" data-url="{% url 'post_comment_options' comment.id %}">
            <img alt="more" src="/static/images/more3.png">
          </div>
        </div>
        <div class="comment-body">
          <p>{{ comment.body }}</p><i class="fa fa-reply" origin="Comment" author="{{ comment.author.username }}" for="{{ comment.id }}"></i>
          {% if user in comment.likes.all %}
            <i data-url="{% url 'like_post_comment' comment.id %}" class="fa fa-heart comment-like text-red"></i>
          {% else %}
            <i data-url="{% url 'like_post_comment' comment.id %}" class="fa fa-heart comment-like"></i>
          {% endif  %}   
        </div>
      </div><!-- Comment 2 end -->
      {% if comment.replies.all.exists %}
        <div class="show-replies">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-forward" width="44" height="44" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M15 11l4 4l-4 4m4 -4h-11a4 4 0 0 1 0 -8h1" />
          </svg>
          Show all {{ comment.replies.all.count }} replies
        </div>
      {% endif %}
      <div class="replies">
        <!-- Comment 2 start -->
        {% for reply in comment.replies.all %}
        <div class="comment comment-list-{{ reply.id }}" id="comment-{{ reply.id }}">
          <div class="comment-container">
            <div class="comment-heading">
              <div class="comment-head-left">
                <div class="avatar-image-container">
                  <a href="#">
                    {% if reply.author.pro_image %}
                      <img src="{{ comment.author.pro_image.url }}" style="width:64px;min-height:64px;">
                    {% else %}
                      <img src="{% static 'images/default.jpg' %}">
                    {% endif %}
                  </a>
                </div>
                <div class="comment-info">
                  <a class="comment-author" href="#">{{ reply.author.username }}</a>
                  <p class="m-0"><span class="comment-like-count">{{ reply.likes.count }}</span> likes &bull; {{ reply.created_at| naturaltime }}</p>
                </div>
              </div>
              <div class="modal_more" data-url="{% url 'post_comment_options' reply.id %}">
                <img alt="more" src="/static/images/more3.png">
              </div>
            </div>
            <div class="comment-body">
              <p>{{ reply.body }}</p><i class="fa fa-reply" author="{{ reply.author.username }}" origin="Reply" for="{{ comment.id }}"></i> 
              {% if user in reply.likes.all %}
                <i data-url="{% url 'like_post_comment' reply.id %}" class="fa fa-heart comment-like text-red"></i>
              {% else %}
                <i data-url="{% url 'like_post_comment' reply.id %}" class="fa fa-heart comment-like"></i>
              {% endif  %}   
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div><!-- Comment 1 end -->
    {% empty %}
      <br>
       <h6 class="title is-5">Post does not have any comments!</h6>              
    {% endfor %}
  </div>

<script type="text/javascript">
      $('.comment-like').click(function(event){
      const $this = this
      const url = $(this).attr("data-url");
      const container = this.closest('.comment-container');
      const likeCount = container.querySelector(".comment-like-count");
      const csrfToken = getCSRFToken();

      $.ajax({
          type:"GET",
          url: url,
          headers: {
            'X-CSRFToken': csrfToken, // Include the CSRF token in the request header
          },
          success: function(response) 
          {
            let likes = likeCount.innerText;
            likes = parseInt( likes );
            if (response.success === 'Comment liked successfully.') {
              likes++;
              $this.classList.add("text-red");
            } else {
              likes--;
              $this.classList.remove("text-red");
            }
            likeCount.innerHTML = likes
          } 
      })
    });

    $('.modal_more').click(function(e) {
      e.preventDefault();
      var url = $(this).attr('data-url');
      var loader = '<div class="overlay"><div class="overlayDoor"></div><div class="overlayContent"><div class="loader"><div class="inner"></div></div></div></div>'
      modal_toggle_option(this);
      $('.modal_option').html(loader);
      $('.modal_option').load($(this).attr('data-url'));
    });

    $('.readAloud').click(function(event){
      const soundIcon = this.querySelector(".sound");

      if (soundIcon.classList.contains("fa-volume-mute")) {
        soundIcon.classList.remove("fal");
        soundIcon.classList.add("fas");
        $(".fa-volume-up").removeClass("fas");
        $(".fa-volume-up").addClass("fal");
        $(".fa-volume-up").addClass("fa-volume-mute");
        $(".fa-volume-up").removeClass("fa-volume-up");
        soundIcon.classList.remove("fa-volume-mute");
        soundIcon.classList.add("fa-volume-up");
      } else {
        soundIcon.classList.remove("fas");
        soundIcon.classList.add("fal");
        soundIcon.classList.remove("fa-volume-up");
        soundIcon.classList.add("fa-volume-mute");
      } 
    });

    document.querySelectorAll('.fa-reply').forEach(function(button) {
      button.addEventListener('click', function() {
        var form = document.getElementById('comment-post-form');
        var inputToDelete = form.querySelector('input[name="parent"]');
      
        if (inputToDelete) {
          inputToDelete.parentNode.removeChild(inputToDelete);
        }
      
        var newInput = document.createElement('input');
        newInput.type = 'hidden';
        newInput.name = 'parent'; // Name your input field as per your requirement
        newInput.value = button.getAttribute('for');

        if ( button.getAttribute('origin') === 'Comment' ) {
          var inputElement = form.querySelector(".shadieINPUT");
          inputElement.value = ""
          inputElement.placeholder = 'Replying to ' + button.getAttribute('author') + "'s comment";
          var equalizer = form.querySelector(".equalizer");
          equalizer.classList.remove('dissapear');
        } else if ( button.getAttribute('origin') === 'Reply' ) {
          var inputElement = form.querySelector(".shadieINPUT");
          inputElement.placeholder = 'Replying to ' + button.getAttribute('author') + "'s reply";
          inputElement.value = '@' + button.getAttribute('author') + ' ';
          var equalizer = form.querySelector(".equalizer");
          equalizer.classList.remove('dissapear');
        }
      
        form.appendChild(newInput);
      }); 
    });

</script>



