@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);

.donate {
  /*padding: 50px*/
  background-color: #1E2030;
  background-color: #1e2132;
  width: 100%;
  color: #FFF;
}

.donate p {
  line-height: 24px;
  font-size: 15px;
  font-weight: 300;
}

.donate h3 {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 30px;
  color: white;
}

.donate-amount{
  width: 100.33333333333333333333333333333333333%;
}

.denomination {
  float: left;
  width: 33%;
  text-align: center;
  padding: 13px 0;
  cursor: pointer;
  background-color: #171b24;
  margin: 0 1px 1px 0;
  transition: background-color 0.2s ease;
}

.denomination label {
  font-weight: 600;
  cursor: pointer;
}

.denomination input {
  left: -10001px;
  position: absolute;
}

.denomination-other {
  width: 99.8%;
}

.denomination-other input {
  position: relative;
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  width: inherit;
  text-align: center;
  background-color: #171b24;
  border: none;
  padding: 13px 0;
  transition: background-color 0.2s ease;
}

.denomination-other input:hover {
  background-color: rgba(102,126,234,1);;
}

.denomination-other input:before {
  position: absolute;
  left: 6px;
  top: 2px;
  content: "$";
}

.donate-amount .selected, .denomination-other input.selected, .donate-amount .denomination:hover {
  --bg-opacity: 1;
  background-color: rgba(102,126,234,var(--bg-opacity));
  border: 0;
}

.donate-black h2 {
  font-family: "Oswald", sans-serif;
  color: #FFF;
  font-size: 32px;
  margin-bottom: 30px;
}

.my-big-header span {
  --bg-opacity: 1;
  display: flex;
  float: left;
  font-size: 16px;
  align-self: center;
  margin-right: 20px;
  text-align: center;
  width: 30px;
  height: 30px;
  background-color: rgba(102,126,234,var(--bg-opacity));
  border-radius: 50%;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.donate-type label,
.donate-payment label {
  font-size: 14px;
  font-weight: 300;
  margin-right: 30px;
}

.donate-blue {
  background-color: #1e252d;
  padding: 25px;
}

.donate-black {
  padding: 25px;
}

.donate-submit button {
  font-family: "Oswald", sans-serif;
  width: 100%;
  background-color: rgba(102,126,234,1);
  border: none;
  color: #FFF;
  font-size: 20px;
  line-height: 20px;
  padding: 14px 0;
  margin: 30px 0;
  text-transform: uppercase;
  cursor: pointer;
}

.donate-submit small {
  color: rgba(255, 255, 255, 0.4);
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #FFF;
  font-size: 14px;
  font-weight: 300;
}

:-moz-placeholder {
  color: #FFF;
  font-weight: 300;
}

::-moz-placeholder {
  color: #FFF;
  font-weight: 300;
}

:-ms-input-placeholder {
  font-weight: 300;
  color: #FFF;
}

*:focus {
  outline: none;
}