{% load static %}
{% load humanize %}

<div class="features-box anim" style="padding-top: 3em;--delay: .2s">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-md-11" style="width: 92%;">
        <section class="listedreads">
          <div>
            <div class="product">
              <a class="img-wrapper" href="#"><img alt="Pink running shoe" class="p-image" src="{% static 'images/me.jpg' %}"></a>
              <div class="note on-sale">
                On sale
              </div>
              <div class="info">
                <div class="title">
                  <a href="#">Some Product</a>
                </div>
                <div class="price sale">
                  $20.50
                </div>
                <div class="price old">
                  $34.99
                </div>
              </div>
              <div class="actions-wrapper">
                <a class="add-btn wishlist" href="#" onclick="openFun()">Detail</a> <a class="add-btn cart" href="#">Buy</a>
              </div>
            </div>
          </div>
          <div>
            <div class="product">
              <a class="img-wrapper" href="#"><img alt="Pink running shoe" class="p-image" src="{% static 'images/me.jpg' %}"></a>
              <div class="note on-sale">
                On sale
              </div>
              <div class="info">
                <div class="title">
                  <a href="#">Some Product</a>
                </div>
                <div class="price sale">
                  $20.50
                </div>
                <div class="price old">
                  $34.99
                </div>
              </div>
              <div class="actions-wrapper">
                <a class="add-btn wishlist" href="#" onclick="openFun()">Detail</a> <a class="add-btn cart" href="#">Buy</a>
              </div>
            </div>
          </div>
          <div>
            <div class="product">
              <a class="img-wrapper" href="#"><img alt="Pink running shoe" class="p-image" src="{% static 'images/me.jpg' %}"></a>
              <div class="note on-sale">
                On sale
              </div>
              <div class="info">
                <div class="title">
                  <a href="#">Some Product</a>
                </div>
                <div class="price sale">
                  $20.50
                </div>
                <div class="price old">
                  $34.99
                </div>
              </div>
              <div class="actions-wrapper">
                <a class="add-btn wishlist" href="#" onclick="openFun()">Detail</a> <a class="add-btn cart" href="#">Buy</a>
              </div>
            </div>
          </div>
          <div>
            <div class="product">
              <a class="img-wrapper" href="#"><img alt="Pink running shoe" class="p-image" src="{% static 'images/me.jpg' %}"></a>
              <div class="note on-sale">
                On sale
              </div>
              <div class="info">
                <div class="title">
                  <a href="#">Some Product</a>
                </div>
                <div class="price sale">
                  $20.50
                </div>
                <div class="price old">
                  $34.99
                </div>
              </div>
              <div class="actions-wrapper">
                <a class="add-btn wishlist" href="#" onclick="openFun()">Detail</a> <a class="add-btn cart" href="#">Buy</a>
              </div>
            </div>
          </div>
          <div>
            <div class="product">
              <a class="img-wrapper" href="#"><img alt="Pink running shoe" class="p-image" src="{% static 'images/me.jpg' %}"></a>
              <div class="note on-sale">
                On sale
              </div>
              <div class="info">
                <div class="title">
                  <a href="#">Some Product</a>
                </div>
                <div class="price sale">
                  $20.50
                </div>
                <div class="price old">
                  $34.99
                </div>
              </div>
              <div class="actions-wrapper">
                <a class="add-btn wishlist" href="#" onclick="openFun()">Detail</a> <a class="add-btn cart" href="#">Buy</a>
              </div>
            </div>
          </div>
          <div>
            <div class="product">
              <a class="img-wrapper" href="#"><img alt="Pink running shoe" class="p-image" src="{% static 'images/me.jpg' %}"></a>
              <div class="note on-sale">
                On sale
              </div>
              <div class="info">
                <div class="title">
                  <a href="#">Some Product</a>
                </div>
                <div class="price sale">
                  $20.50
                </div>
                <div class="price old">
                  $34.99
                </div>
              </div>
              <div class="actions-wrapper">
                <a class="add-btn wishlist" href="#" onclick="openFun()">Detail</a> <a class="add-btn cart" href="#">Buy</a>
              </div>
            </div>
          </div>
          <div>
            <div class="product">
              <a class="img-wrapper" href="#"><img alt="Pink running shoe" class="p-image" src="{% static 'images/me.jpg' %}"></a>
              <div class="note on-sale">
                On sale
              </div>
              <div class="info">
                <div class="title">
                  <a href="#">Some Product</a>
                </div>
                <div class="price sale">
                  $20.50
                </div>
                <div class="price old">
                  $34.99
                </div>
              </div>
              <div class="actions-wrapper">
                <a class="add-btn wishlist" href="#" onclick="openFun()">Detail</a> <a class="add-btn cart" href="#">Buy</a>
              </div>
            </div>
          </div>
          <div>
            <div class="product">
              <a class="img-wrapper" href="#"><img alt="Pink running shoe" class="p-image" src="{% static 'images/me.jpg' %}"></a>
              <div class="note on-sale">
                On sale
              </div>
              <div class="info">
                <div class="title">
                  <a href="#">Some Product</a>
                </div>
                <div class="price sale">
                  $20.50
                </div>
                <div class="price old">
                  $34.99
                </div>
              </div>
              <div class="actions-wrapper">
                <a class="add-btn wishlist" href="#" onclick="openFun()">Detail</a> <a class="add-btn cart" href="#">Buy</a>
              </div>
            </div>
          </div>
          <div>
            <div class="product">
              <a class="img-wrapper" href="#"><img alt="Pink running shoe" class="p-image" src="{% static 'images/me.jpg' %}"></a>
              <div class="note on-sale">
                On sale
              </div>
              <div class="info">
                <div class="title">
                  <a href="#">Some Product</a>
                </div>
                <div class="price sale">
                  $20.50
                </div>
                <div class="price old">
                  $34.99
                </div>
              </div>
              <div class="actions-wrapper">
                <a class="add-btn wishlist" href="#" onclick="openFun()">Detail</a> <a class="add-btn cart" href="#">Buy</a>
              </div>
            </div>
          </div>
        </section><a class="carousel-control-prev listedreads-next"><i class="fa fa-angle-left"></i></a> <a class="carousel-control-next listedreads-prev"><i class="fa fa-angle-right"></i></a>
      </div>
    </div>
  </div>
</div>
<section class="site-wrap anim" id="Listing_Articles" style="padding-top: 3em; width: 100%;--delay: .3s">
  <div class="site-section" style="padding-bottom: 3.7rem;">
    <div class="container-fluid articulate">
      <div class="anim" style="position: relative;display: flex;">
        <div class="lta-before blurry-before"></div>
        <nav class="tmln tmln--box tmln--hr" style="padding: 10px;">
          <h3 class="tmln__header">Search Articles</h3>
          <ul class="tmln__list" id="listing_article_list">
            <li class="tmln__item tmln__item--active">
              <span data-title="">32 mins ago</span>
              <h3 class="tmln__item-headline">Someone, somewhere, did something stupid</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, ab? Sequi dolorem aspernatur ad earum! Eius nulla tempora pariatur temporibus.</p><a class="my_article" href="#none">Read more</a>
            </li>
            <li class="tmln__item tmln__item--bg-lght">
              <span data-title="">36 mins ago</span>
              <h3 class="tmln__item-headline">Someone, somewhere, did something stupid</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, ab? Sequi dolorem aspernatur ad earum! Eius nulla tempora pariatur temporibus.</p><a class="my_article" href="#none">Read more</a>
            </li>
            <li class="tmln__item tmln__item--bg-dark">
              <span data-title="">58 mins ago</span>
              <h3 class="tmln__item-headline">Someone, somewhere, did something great</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, ab? Sequi dolorem aspernatur ad earum! Eius nulla tempora pariatur temporibus.</p><a class="my_article" href="#none">Read more</a>
            </li>
            <li class="tmln__item tmln__item--bg-lght">
              <span data-title="">1 day ago</span>
              <h3 class="tmln__item-headline">Someone, somewhere, did something stupid</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, ab? Sequi dolorem aspernatur ad earum! Eius nulla tempora pariatur temporibus.</p><a class="my_article" href="#none">Read more</a>
            </li>
          </ul>
        </nav>
        <div class="lta-after blurry-after"></div>
      </div>
    </div>
    <div></div>
  </div>
</section>

<script>
  $(function () {
    // Sign up button
    $("#signup-btn-2").modalForm({
        formURL: "{% url 'signup' %}"
    });
  });
</script>
<script>
  $(document).ready(function() {
    const listedreads = document.querySelector(".listedreads");
    if (listedreads.classList.contains('slick-initialized')) {
      $('.listedreads').slick('refresh');
    } else {
      $(".listedreads").slick(getSliderSettings());
      $('.listedreads').slick('refresh');
    }

    $('.listedreads-prev').click(function(e){ 
      e.preventDefault(); 
      $('.listedreads').slick('slickPrev');
    } );
    
    $('.listedreads-next').click(function(e){
      e.preventDefault(); 
      $('.listedreads').slick('slickNext');
    });

    $(window).resize(function(){
      if($('.listedreads').length){
        $('.listedreads').slick('refresh');
      }
    });

    fixListingArticlesBlurry();

    
  });

</script>
