    /*
    Flaticon icon font: Flaticon
    Creation date: 06/09/2018 06:53
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-quality:before { content: "\f100"; }
.flaticon-megaphone:before { content: "\f101"; }
.flaticon-shopping-bag:before { content: "\f102"; }
.flaticon-photo-camera:before { content: "\f103"; }
    
    $font-Flaticon-quality: "\f100";
    $font-Flaticon-megaphone: "\f101";
    $font-Flaticon-shopping-bag: "\f102";
    $font-Flaticon-photo-camera: "\f103";